{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Sources
{% endblock %}
{% block test %}
        <div class="container-fluid1 wholeTilesMargin">
            <div class="row main_content_row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 block_cards_header bgColorUnset  layoutBorderColor ">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <span class="sprite bg-icon_calculator1"></span>
                            </div>
                            <div class="mr-5"><font class="showTotalSources">{{ totalsources }}</font>
                                <p>Sources</p>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/sources/">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                        <div class="card-body active">
                            <div class="card-body-icon">
                                <span class="sprite bg-icon_sim"></span>
                            </div>
                            <div class="mr-5"><font class="showTotalSources">{{ sinmemory }}</font>
                                <p>Sources In Memory</p>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1 active" href="/data/conversion/">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <span class="sprite bg-icon_report"></span>
                            </div>
                            <div class="mr-5"><font class="showTotalSources">{% if z %}{{z}}{% else %} 0 {% endif %}</font>
                                <p>Reports</p>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/report-creation/">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <span class="sprite bg-icon_ticket"></span>
                            </div>
                            <div class="mr-5"><font class="showTotalSources"></font>
                                <p>Assign Reports</p>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/assign_reports/">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
{% block pagecontent %}
<div class="container-fluid main_content_container">
    <div class="row main_content_row">
        <div class="activity_feed_table col">
            <div style="margin-bottom:40px;">
              <h4>Conversions
                  <button class="btn commonButtonColor pull-right" data-toggle="modal" data-target="#sourceUploadModal" type="button"><i class="fa fa-plus" style="margin-right: 8px;" aria-hidden="true"></i>Create a new Source</button>
              </h4>
            </div>
            <table class="row-border table-responsive compact" id="ConversionDataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th style="white-space: nowrap; padding-left: 0px;">Table Name</th>
                  <th>Stored Location</th>
                  <th>ODS Location</th>
                  <th>In Memory</th>
                  <th>Analysed</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for key, values in data.items %}
              <tr>
                <td><a class="commonLinkColor source_conversion_modal" href="#" data-id="{{ key }}">{{values.table}}</a></td>
                <td>{{values.docfile}}</td>
                <td>{{values.ods}}</td>
                <td>
                    <form action="/data/memory/{{key}}/"
                          method="post"
                          data-ajax="false"
                          enctype="multipart/form-data">{% csrf_token %}
                        <center >
                            <label class="checkbox-inline testclass">
                              <input
                                      id="i!{{key}}"
                                      name="i_{{key}}"
                                      type="checkbox"
                                     data-toggle="toggle"
                                     data-size='small'
                                     data-width="100"
                                     data-on='Memory'
                                     data-off='<i class="fa fa-hdd-o" aria-hidden="true"></i> Disc'
                                     {{values.memory}}
                                     onchange="this.form.submit()">
                            </label>
                        </center>
                    </form>
                </td>
                </td>
                <td>
                    <form>{% csrf_token %}
                        <center id="source_analyzed_center">
                            <label class="checkbox-inline">
                              <input
                                      id="a!{{key}}"
                                      name="a_{{key}}"
                                      type="checkbox"
                                     data-toggle="toggle"
                                     data-size="small"
                                     data-width="150"
                                     data-on='Analysed <i class="fa fa-check" aria-hidden="true"></i>'
                                     data-off='Start Analysis'
                                     {{values.analysed}}
                                      disabled
                                     >
                            </label>
                        </center>
                    </form>
                </td>
                <td>
                    <a class="btn btn-primary" style="padding:2px 10px 2px 10px;color:white;" data-toggle="modal" data-target="#modal{{key}}">
                        <i class="fa fa-spinner" aria-hidden="true"></i>
                    </a>
                </td>
              </tr>

                <div id="modal{{key}}" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title pull-left">Optimized source conversion</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                          <p> Are you sure you want to convert the <b>{{values.table}}</b> dataset into flair optimized source?</p>
                          <center>
                            <i id="icon{{key}}" class="" aria-hidden="true"></i>
                          </center>
                      </div>
                        <form action="/data/runconversion/{{key}}/" method="post" data-ajax="false" enctype="multipart/form-data">{% csrf_token %}
                          <div class="modal-footer">
                              <button id="key_{{key}}" type="submit" class="btn btn-primary">Yes</button>
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </form>
                    </div>
                  </div>
                </div>

                {% endfor %}
              </tbody>
            </table>
            <div id="modal_spinner" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title pull-left">Source management</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">

                          <center>
                              <p> Performing operation.....</p></br>
                            <i id="mem_spin" class="fa fa-spinner fa-pulse fa-5x ap-spinner-color" aria-hidden="true"></i>
                          </center>
                      </div>
                    </div>
                  </div>
                </div>

        </div>
    </div>
</div>


{% endblock %}
{% block lazyload %}
<script src="{% static 'js/conversion.controller.js' %}"></script>
{% endblock %}