{% extends 'file-manager.html' %}
{% load staticfiles %}
{% block title %}
File Upload
{% endblock %}
{% block upload %}
<form class="form-horizontal" action="manager/fileupload/" method="post" data-ajax="false" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
              <label class="control-label col-sm-3" for="id_table">Source Name:</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="id_table" placeholder="Source Name" name="table">
              </div>
            </div>
              <div class="form-group">
              <label class="control-label col-sm-3" for="id_docfile">File Upload:</label>
              <div class="col-sm-9">
                <input type="file" size="60" class="btn btn-default" id="id_docfile" accept=".json,.csv" name="docfile">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="submit" class="btn btn-success">Upload file and continue <i class="fa fa-step-forward" aria-hidden="true"></i></button>
              </div>
            </div>
</form>
{% endblock %}