<div class="col-md-12">
 <div class="btn-group-round">
    <button class="round-btn-1 active"></button>
    <hr>
    <button class="round-btn-2 active"></button>
    <hr>
    <button class="round-btn-3 active"></button>
 </div>
 <div class="btn-group-round" style="padding: 0 46px 0 42px;">
    <span style="float:left;">File Upload</span>
    <span >Profiling</span>
    <span style="float:right;" >Finishing</span>
 </div>
</div>
<hr>

<div class="row">
    <div class="col-md-12">
        <center>
            <h4>Summary</h4>
        </center>
    </div>
</div></br>
<div class="container">
    <h5><u>Source:</u></h5>
    <div class="row">
        <div class="col-md-3">
            <h6>Id</h6>
        </div>
        <div class="col-md-8">
            <a>{{ data.id }}</a>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h6>Name</h6>
        </div>
        <div class="col-md-8">
            <a>{{ data.table }}</a>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h6>File Location</h6>
        </div>
        <div class="col-md-8">
            <a>{{ data.docfile }}</a>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h6>Analysed</h6>
        </div>
        <div class="col-md-8">
            <input type="checkbox" name="analysed" value="{{data.analysed}}" {{data.analysed}} disabled>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h6>In Memory</h6>
        </div>
        <div class="col-md-8">
            <input type="checkbox" name="analysed" value="{{data.memory}}" {{data.memory}} disabled>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h6>Extension</h6>
        </div>
        <div class="col-md-8">
            <a>{{data.extension}}</a>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
</br>
<div class="container">
<h5><u>Features:</u></h5>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
              <tr>
                <th>Name</th>
                  <th>id</th>
                <th>Density</th>
                <th>Field Type</th>
                <th>Data Type</th>
              </tr>
                {% for key, values in data.features.items %}
              <tr>
                <td>{{values.id}}</td>
                <td>{{key}}</td>
                <td>{{values.density}}%</td>
                <td>{{values.fieldtype}}</td>
                <td>{{values.datatype}}</td>
              </tr>
                {% endfor %}
            </table>
        </div>
    </div></br>

    
<form action="/manager/finish/{{data.id}}/" method="post">{% csrf_token %}
    <div class="modal-footer">
      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
      <button type="submit" type="button" class="btn btn-primary">Next</button>
  </div>
</form>
    
</div>
