{% load staticfiles %}
<div class="col-md-12">
    <div class="btn-group-round">
        <button class="round-btn-1 active"></button>
        <hr>
        <button class="round-btn-2 active"></button>
        <hr>
        <button class="round-btn-3"></button>
    </div>
    <div class="btn-group-round" style="padding: 0 46px 0 42px;">
        <span style="float:left;">File Upload</span>
        <span>Profiling</span>
        <span style="float:right;">Finishing</span>
    </div>
</div>
<hr>

<div class="container">
    <h3 style="margin: 0 0 6px -13px;">Source Metadata</h4>
<form class="form-horizontal" enctype="multipart/form-data" id="step_profiling_form">
   {% csrf_token %}
  
   <label style="margin: 0 0 6px -13px;" class="control-label" for="id_source" >Source Id:</label>
   <div class="form-group">
    <div class="row">      
      <div class="col-sm-9" style="padding: 0;">
        <input type="text" class="form-control" id="id_source" placeholder="Source Id" name="source" value="{{data.sourceid}}" readonly >
      </div>
    </div>
  </div>
   <label style="margin: 0 0 6px -13px;" class="control-label"  >Fields found:</label>
   {% for key, values in data.fields.items %}
   <div class="form-group">
    <div class="row">
      <div class="col-xs-4" style="margin: 0 10px 0 0px;">
        <input type="text" class="form-control" id="u!{{key}}" placeholder="{{ values.id }}" name="u!{{key}}" value="{{ values.id }}" readonly>
      </div>
      <div class="col-xs-3">
        <input type="text" class="form-control" id="n!{{key}}" placeholder="{{ key }}" name="field" value="{{ key }}" readonly>
      </div>
      <div class="col-sm-3" style="max-width: 18%;">
        {% for k, val1 in values.fieldtype.items %}
        <fieldset id="fs{{key}}">
           <input type="radio" name="f!{{key}}" value="{{k}}" {{ val1 }}> {{ k }} <br>
        </fieldset>
        {% endfor %}
      </div>
      <div class="col-xs-3">  
        <select class="form-control" name="d!{{key}}">
        {% for k, val2 in values.datatype.items %}
        <option value="{{k}}" {{val2}}>{{k}}</option>
        {% endfor %}
        </select>
      </div>
    </div>
  </div>

   {% endfor %}
  
   <div class="modal-footer">
      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
      <button type="submit" type="button" class="btn btn-primary">Next</button>
  </div>
</form>
</div>
<script type="text/javascript">
   var a = {{data|safe}};
   console.log(a);
</script>
{% block lazyload %}
<script src="{% static 'js/conversion.source_form_wizard.js' %}"></script>
{% endblock %}