{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Sources
{% endblock %}
{% block test %}
        <div class="container-fluid1 wholeTilesMargin">
            <div class="row main_content_row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 block_cards_header bgColorUnset  layoutBorderColor ">
                        <div class="card-body active">
                            <div class="card-body-icon">
                                <span class="sprite bg-icon_calculator1"></span>
                            </div>
                            <div class="mr-5"><font class="showTotalSources">{{ totalsources }}</font>
                                <p>Sources</p>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1 active" href="/sources/">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <span class="sprite bg-icon_sim"></span>
                            </div>
                            <div class="mr-5"><font class="showTotalSources">{{ sinmemory }}</font>
                                <p>Sources In Memory</p>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/data/conversion/">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <span class="sprite bg-icon_report"></span>
                            </div>
                            <div class="mr-5"><font class="showTotalSources">{% if z %}{{z}}{% else %} 0 {% endif %}</font>
                                <p>Reports</p>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/report-creation/">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <span class="sprite bg-icon_ticket"></span>
                            </div>
                            <div class="mr-5"><font class="showTotalSources"></font>
                                <p>Assign Reports</p>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/assign_reports/">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
{% block pagecontent %}
<div class="container-fluid main_content_container">
   <div class="row main_content_row" >
      <div class="activity_feed_table col">
         <div style="margin-bottom:40px;">
            <h4>
               List of available sources
               <button class="btn commonButtonColor pull-right" data-toggle="modal" data-target="#sourceUploadModal" type="button"><i class="fa fa-plus" aria-hidden="true" style="margin-right: 8px;"></i>Create a new Source</button>
            </h4>
         </div>
         <table class="row-border table-responsive" id="sourcesDataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
               <th>Source ID</th>
               <th style="white-space: nowrap;">Table Name</th>
               <th>Stored Location</th>
               <th style="white-space: nowrap;">In Memory</th>
               <th>Analysed</th>
               <th>Extension</th>
               <th>User</th>
               <th></th>
            </tr>
            </thead>
            <tbody>
            {% for key, values in data.items %}
            
            <tr>
               <td><a href="#" data-id="{{ key }}" class="source_detail_modal commonLinkColor">{{key}}</a></td>
               <td>{{values.table}}</td>
               <td>{{values.docfile}}</td>
               <td style="text-align: center;"><input type="checkbox" name="memory" value="{{values.memory}}" {{values.memory}} disabled></td>
               <td style="text-align: center;"><input type="checkbox" name="analysed" value="{{values.analysed}}" {{values.analysed}} disabled></td>
               <td>{{values.extension}}</td>
               <td>{{values.user}}</td>
               <td><a style="padding:2px 10px 2px 10px;" data-toggle="modal" data-target="#modal{{key}}"><i class="fa fa-trash-o" aria-hidden="true" style="cursor: pointer;"></i></a></td>
            </tr>

            <div id="modal{{key}}" class="modal fade" role="dialog">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title pull-left">Deleting a source</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                     </div>
                     <div class="modal-body">
                        <p> Are you sure you want to delete the <b>{{values.table}}</b> datasource?</p>
                     </div>
                     <form action="/manager/deletesource/{{key}}/" method="post" data-ajax="false" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-footer">
                           <button type="submit" class="btn btn-danger">Yes</button>
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
            {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>
{% endblock %}