{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        Flair AI - {% block title %}{% endblock %}
    </title>
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/3.12.1/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'libraries/bootstrap/css/bootstrap.css' %}" />
    
    <!-- Custom fonts for this template-->
    <link href="{% static 'libraries/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.css" />

    <link type="text/css" href="{% static 'libraries/shawnchin-jquery/gentleSelect/jquery-gentleSelect.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'libraries/shawnchin-jquery/cron/jquery-cron.css' %}" rel="stylesheet" />

  
    <link href="{% static 'libraries/toggle/toggle.min.css' %}" rel="stylesheet">
 
    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
</head>

<body class="sidenav-toggled">
    <!-- https://github.com/akveo/blur-admin -->
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top layoutBorderColor" id="mainNav" style="border-top: unset;">
        <div class="navbar-search">
            <form class="form-inline my-2 my-lg-0 mr-lg-2">
                <span class="input-group-btn">
                  <button class="btn" type="button">
                    <i style="margin: 0px -9px 0 0px;" class="fa fa-search"></i>
                  </button>
                  <input class="form-control" type="text" placeholder="Search for more...">
                </span>
            </form>
        </div>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion" style=" border-right: solid 2px rgba(158, 158, 158, 0.31);">

                <li id="logo_li">
                    <a class="nav-link" href="#">
                        <img id="flairai_logo" src="{% static 'images/flairai_logo.svg' %}"><span id="flairai_brand_name" style="display:inline">flair bi</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link" href="/home">
                       
                        <!-- <img src="{% static '/images/icon_home_fa.png' %}" class="homeIconsFa"><span>Home</span> -->
                        <span class="sprite_dashboard_leftsidebar bg-icon_home_fa"></span><span>Home</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link" href="/home">
                        
                        <!-- <img src="{% static '/images/icon_dashboard_fa.png' %}" class="homeIconsFa"> -->
                        <span class="sprite_dashboard_leftsidebar bg-icon_dashboard_fa"></span>
                        <span style="margin-left: -7px;">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a class="nav-link" href="/home">
                       
                        <!-- <img src="{% static '/images/icon_settings_fa.png' %}" class="homeIconsFa"> -->
                        <span class="sprite_dashboard_leftsidebar bg-icon_settings_fa"></span>
                        <span>Settings</span>
                    </a>
                </li>

                <li>
                  <a class="nav-link" href="/home">
                    
                    <img src="{% static '/images/icon_admin_fa.png' %}" class="homeIconsFa" style="margin-bottom: 6px;">
                    <!-- <span class="sprite_dashboard_leftsidebar bg-icon_admin_fa"></span> -->
                    <span>Admin</span>
                  </a>
                </li>

                <li class="active">
                    <a class="nav-link" href="/home">
                      
                        <!-- <img src="{% static '/images/icon_database_fa.png' %}" class="homeIconsFa"> -->
                        <span class="sprite_dashboard_leftsidebar bg-icon_database_fa"></span>
                        <span style="margin-left:-4px">Analytics</span>
                    </a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" >
                   <div class="dropdown show" id="div-user-dropdown">
                      <button class="btn btn-secondary btnDropdown" type="button" id="navbar-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span><img src="http://www.wikidebrouillard.org/images/6/6d/ScratchCat-Small.png" class="userImage">{{ request.user.username }}</span>
                        <i class="fa fa-angle-down" style="color:#bbbbbb;margin-left: 12px;" aria-hidden="true"></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" data-toggle="modal" data-target="#exampleModal" type="button">Log out</button>
                      </div>
                    </div>

                </li>
            </ul>
        </div>
    </nav>

    <div class="content-wrapper ap-content-margin">
        {% block breadcrumb %}
        <nav class="breadcrumb layoutBorderColor">
            <p class="pageHeading"> Analytics</p>
            <a class="breadcrumb-item active pageHeadingLink" href="#">Flair BI</a>
            <a class="breadcrumb-item active pageHeadingLink" href="#">Analytics</a>
        </nav>
        {% endblock %} {% block test %}
        <div class="container-fluid main_content_container">
            <div class="row main_content_row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 block_cards_header bgColorUnset  layoutBorderColor">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <!--<img class="i1" src="{% static 'images/icon_calculator1.png' %}">-->
                                <span class="sprite bg-icon_calculator1"></span>
                            </div>
                            <div class="mr-5"><font class="showTotalSources">{{ data.totalsources }}</font>
                                <p>Sources</p>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/sources/">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <span class="sprite bg-icon_sim"></span>
                            </div>
                            <div class="mr-5"><font class="showTotalSources">{{ data.sinmemory }}</font>
                                <p>Sources In Memory</p>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/data/conversion/">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <span class="sprite bg-icon_report"></span>
                            </div>
                            <div class="mr-5"><font class="showTotalSources">{% if z %}{{z}}{% else %} 0 {% endif %}</font>
                                <p>Reports</p>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/report-creation/">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <span class="sprite bg-icon_ticket"></span>
                            </div>
                            <div class="mr-5"><font class="showTotalSources"></font>
                                <p>Assign Reports</p>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/assign_reports/">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %} {% block pagecontent %} {% endblock %}
        <footer>  
            <div class="container-fluid">
                <div class="row" style="border-top: solid 2px rgba(158, 158, 158, 0.31);">
                    <div style="margin: 0 0 0 10px;">
                        <small>Copyright © Flair 2017</small>
                    </div>
                </div>
            </div>
          
        </footer>
        <!-- </footer> -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="/accounts/logout/">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!--Source upload modal-->
        <div class="modal fade " id="sourceUploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="min-width: 765px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <img id="flairai" width="23px" height="23px" src="{% static 'images/flairai_logo.svg' %}">
                        <h5 class="modal-title" id="exampleModalLabel">Create a new connection</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body" id="form_wizard">
                        <div class="col-md-12">
                            <div class="btn-group-round">
                                <button class="round-btn-1 active"></button>
                                <hr>
                                <button class="round-btn-2"></button>
                                <hr>
                                <button class="round-btn-3"></button>
                            </div>
                            <div class="btn-group-round" style="padding: 0 46px 0 42px;">
                                <span style="float:left;">File Upload</span>
                                <span>Profiling</span>
                                <span style="float:right;">Finishing</span>
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <h3> File Upload</h3>
                            <form id="source_upload" enctype="multipart/form-data">
                                <input type="hidden" id="csrf" value="{{ csrf_token }}" />
                                <div class="form-group">
                                    <label class="control-label" for="id_table">Source Name:</label>
                                    <div class="col-sm-9" style="padding: 0;">
                                        <input type="text" class="form-control" id="id_table" placeholder="Source Name" name="table" required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="id_docfile">File Upload:</label>
                                    <br>
                                    <div class="col-sm-12" style="padding: 0;">
                                        <input type="file" size="60" class="btn btn-default" id="id_docfile" accept=".json,.csv" name="docfile" required="true" style="padding: 0;">
                                    </div>
                                </div>                               

                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    <button type="submit" id="submit" type="button" class="btn btn-primary">Next</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Source details modal -->
        <div class="modal fade " id="sourcedetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="min-width: 765px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <img id="flairai" width="23px" height="23px" src="{% static 'images/flairai_logo.svg' %}">
                        <h5 class="modal-title">Edit a connection</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" id="source_detail_form_wizard">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Source details modal -->
        <div class="modal fade " id="sourceConversionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="min-width: 765px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <img id="flairai" width="23px" height="23px" src="{% static 'images/flairai_logo.svg' %}">
                        <h5 class="modal-title">Edit a connection</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12" id="source_conversion_form_wizard">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="{% static 'libraries/jquery/jquery.min.js' %}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'libraries/popper/popper.min.js' %}"></script>
        <script src="{% static 'libraries/bootstrap/js/bootstrap.min.js' %}"></script>

        <script src="{% static 'libraries/combodate/combodate.js' %}"></script>
        <script src="{% static 'libraries/moment/moment.min.js' %}"></script>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.2.0/split.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="{% static 'libraries/jquery-easing/jquery.easing.min.js' %}"></script>
        <!-- Page level plugin JavaScript-->
        <script src="{% static 'libraries/datatables/jquery.dataTables.js' %}"></script>
        
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.js"></script>
        <!-- CRON JOB PLUGIN -->
        <script type="text/javascript" src="{% static 'libraries/shawnchin-jquery/gentleSelect/jquery-gentleSelect-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'libraries/shawnchin-jquery/cron/jquery-cron.js' %}"></script>
        <!-- TIMEZONE PLUGIN -->
        <script type="text/javascript" src="{% static 'libraries/timezone/timezones.full.js' %}"></script>
        
        <!-- Custom scripts for all pages-->
        <script src="{% static 'js/generic/admin.js' %}"></script>
        <!-- Custom scripts for this page-->
        <script src="{% static 'js/generic/admin-datatables.js' %}"></script>
        <script src="{% static 'js/manager.controller.js' %}"></script>
        <script src="{% static 'libraries/toggle/toggle.min.js' %}"></script>
        <script src="{% static 'js/conversion.source_form_wizard.js' %}"></script>
        <script src="{% static 'js/source_conversion_datatable.js' %}"></script>
        <script src="{% static 'js/home.pysql.exec.controller.js' %}"></script>

        {% block lazyload %} {% endblock %}
    </div>
</body>
<!-- Datatable Assign Report Template -->
<!--
<script type="text/javascript">
   $(document).ready(function() {
    $('#assign-report_data').DataTable();
});
</script> -->




</html>