{% extends 'base.html' %}
{% load staticfiles %}
{% block pagecontent %}

<div class="container">
	<div class="row" >
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row ap-step-row">
                <div id="upload_step" class="col-md-4 ap-step">
                    <center class="ap-step-text">
                        <i class="fa fa-3x fa-upload" aria-hidden="true"></i>
                        <p>File Upload</p>
                    </center>
                </div>
                <div id="profiling_step" class="col-md-4 ap-step">
                    <center class="ap-step-text">
                        <i class="fa fa-3x fa-cogs" aria-hidden="true"></i>
                        <p>Profiling</p>
                    </center>
                </div>
                <div id="finish_step" class="col-md-4 ap-step">
                    <center class="ap-step-text">
                        <i class="fa fa-3x fa-save" aria-hidden="true"></i>
                        <p>Finish</p>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
	</div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 ap-step-content">
            {% block upload %}
            {% endblock %}
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

{% endblock %}