<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <style>
        #logo{
            margin-bottom: 5px;
        }
        #report_title{
            font-size: 28px;
            float:right;
            padding-right: 41%;
            font-weight: 900;
        }
        .new-page {
            page-break-before: always;
        }
        #report_piechart{
            margin-top: 20px;
            text-align: center;
        }
        table {
            font-size: 24px;
        }
        #report_barchart{
            text-align: center;
        }
        .tableHeader{
            text-align: center;
            font-weight: bolder;
            font-size: 34px;
        }
    </style>
</head>

<body style="margin: 0px;">
    <header>
        <img id="logo" src="{{ STATIC_PREFIX.0 }}images/flairai_logo.svg" width="100" height="40"><span id="report_title"> {{ report_name }} </span>
    </header>
    <hr style="height:2px; border:none; color:#000; background-color:#000;">

    <div class="container">
        {% if table_data and (bar_src or pie_src) %}
        <header class="tableHeader">
        <h1>{{ table_query_name }}</h1>
    </header>
            <div class="row" style="margin-top:10px;">            
                <div class="col-md-12">                
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                {% for col in columns_list %}
                                    <th>{{ col|title }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for dict_obj in table_data %}
                            <tr>
                                {% for k,v in dict_obj.items() %}
                                    <td>{{ v }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="new-page"></div>
            {% if bar_src %}
            <div class="row" id="report_barchart">
                <div class="col-md-12">
                    <img src="{{ bar_src }}">
                </div>
            </div>
            {% endif %}
            {% if pie_src %}
            <div class="row" id="report_piechart">
                <div class="col-md-12">
                    <img src="{{ pie_src }}">
                </div>
            </div>
            {% endif %}
        {% elif (pie_src or bar_src ) %}
            {% if bar_src %}
            <div class="row" id="report_barchart">
                <div class="col-md-12">
                    <img src="{{ bar_src }}">
                </div>
            </div>
            {% endif %}
            {% if pie_src %}
            <div class="row" id="report_piechart">
                <div class="col-md-12">
                    <img src="{{ pie_src }}">
                </div>
            </div>
            {% endif %}
           
        {% else %}
        <header class="tableHeader">
            <h1>{{ table_query_name }}</h1>
        </header>    
            <div class="row" style="margin-top:10px;">            
                <div class="col-md-12">                
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                {% for key in keys_list %}
                                    <th>{{ key|title }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for dict_obj in table_data %}
                            <tr>
                                {% for k,v in dict_obj.items() %}
                                    <td>{{ v }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        
    </div>
</body>
</html>