<div class="col-md-12">	
			<table id="assign-report_data" class="display" cellspacing="0" width="100%">
        		<thead>
            		<tr>
            			<th>id</th>
		                <th>Username</th>
		                <th>Email</th>
		                <th>Query Name</th>
		                <th>Channel</th>
		                <th>Active</th>
		                <th>Actions</th>

              
            		</tr>
        	</thead>
       			 <tbody>
       			 	{% for report in reports_data %}
            		  <tr>
            		  	<td>{{report.id}}</td>
		                <td>{{report.username}}</td>
		                <td>{{report.email}}</td>
		                <td>{{report.query_name}}</td>
		                <td>{{report.channel}}</td>
		                <td>{{ report.active }}</td>
		                <td>
		                	<button type="button" data-toggle="modal" class="btn btn-secondary delete_row" data-id="{{report.id}}" style="margin-right: 10px; ">Delete</button>
		                	<button type="button" data-toggle="modal" class="btn btn-secondary" id="edit_row" style="margin-right: 10px; ">Modify</button>
		                </td>
		              </tr>
		              {% endfor %}
           		 </tbody>
			</table>
		</div>