{% extends 'base.html' %} {% load staticfiles %} {% block title %} Assign Report {% endblock %}{% block test %}{% endblock %} {% block pagecontent %}
<div class="container-fluid main_content_container" style="margin-top:16px;">
	<div class="row main_content_row">
		<div class="activity_feed_table col" style="margin-right:-4px;bottom:-5px;margin-top:74px;">
			<div id="ajax_div_assign_report_form" class="container">
				<div class="row">
					<div class="col-md-12">
					<div  style="text-align:center;">
						<h2>Assign Report</h2>
						<button type="button" data-toggle="modal" data-target="#Add_modal" class="btn btn-secondary" id="add_row" style="margin-right:10px; float:left;">Add</button>
							<div role="group" aria-label="Basic example" style="margin-top:30px;margin-bottom:20px;">
							

<!-- Add New Report Model -->
								<div class="modal fade" id="Add_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
								<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
										<h3 class="modal-title" id="lineModalLabel">Assign New Report</h3>
									</div>

									<div class="modal-body">
											<div class="alert alert-warning" id="email_error_message" style='display: none;'>Invalid email address.. Please enter valid email
								            </div>
											<div class="alert alert-warning" id="error_message" style='display:none;'>
												<strong>Error!</strong>Please fill Empty fields
											</div>
											<div class="alert alert-success" id="report_assigned_success" style="display:none">
												<strong>Success! </strong>Report is assigned successfully.
											</div>
											<div class="alert alert-warning" id="no_report_error" style="display:none">
												<strong>Error! </strong>First create report then assign.
											</div>
								    	<!-- content goes here -->
										<form id="assign_report_form">
												{% csrf_token %}
												

								  			<div class="form-group">
								                <label for="username">Username:</label>
								                <input type="text" class="form-control" name="username" id="username" placeholder="Username">
								          	</div>
								          	<div class="form-group">
								                <label for="email">Email</label>
								                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
								          	</div>

											<div class="form-group">
								              	<label for="queryname">Report Name</label>
								              	<select class="form-control" name="select_assign_report" id="select_assign_report">
								                 {% for obj in reports %}
								                 <option value="{{ obj.report_id }}" selected>{{ obj.report_name }}</option>
								                 {% endfor %}
								              	</select>
								       		</div>

								          	<div class="form-group">
									            <label for="channel">Channel</label>
									            <input type="text" class="form-control" name="channel" id="channel" placeholder="Channel">
								          	</div>

									        <div class="form-group">
									            <label for="condition">Condition</label>
									            <input type="text" class="form-control" name="condition" id="condition" placeholder="Condition">
									        </div>

								          	<input  type="button" id="create" class="btn btn-primary" value='Create'/>
									    </form>
									</div>
								</div>
								</div>
								</div>			
<!-- modify Button	 -->
								<div class="modal fade" id="Modify_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
								<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
										<h3 class="modal-title" id="lineModalLabel">Modify Assign Report</h3>
									</div>
									<div class="modal-body">
										<div class="alert alert-warning" id="empty_message" style='display:none;'>
												<strong>Error!</strong>Please fill empty fields
											</div>
								        <!-- content goes here -->
										<form id="assign_report_form">{% csrf_token %}
										<!-- <input type="hidden" id="src_id" value="{{ source_id }}"/>	 -->
											<div class="form-group">
								                <label for="username">Assigned Report Id:</label>
								                <input type="text" class="form-control" name="id" id="edit_id" placeholder="id" disabled>
								          	</div>
								            <div class="form-group">
								                <label for="username">Username:</label>
								                <input type="text" class="form-control" name="username" id="edit_username" placeholder="Username">
								          	</div>
								            <div class="form-group">
								                <label for="email">Email</label>
								                <input type="email" class="form-control" name="email" id="edit_email" placeholder="Email">
								            </div>

											<div class="form-group">
												<label for="reportname">Report Name</label>
												<select class="form-control" name="select_edit_report" id="select_edit_report">
												{% for obj in reports %}
												<option value="{{obj.report_id}}">{{ obj.report_name }}</option>
												{% endfor %}
												</select>
											</div>

								      		<input type="button" id="update_report" class="btn btn-primary" value="Update" >
								      	</form>
								    </div>	            		
								</div>
								</div>
								</div>
<!-- Delete Button -->
								<div class="modal fade" id="Delete_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
												<h3 class="modal-title" id="lineModalLabel">Delete Assign Report</h3>
											</div>
											<div class="modal-body">

						           		 <!-- content goes here -->
						            			<p> </p>

								              <input type="button" id="Assign_New_Report" class="btn btn-primary" value="Delete" >
											</div>
										</div>
								  	</div>
								</div>							
<!-- Scheduler modal -->
								<div class="modal fade" id="Scheduler-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">

									<div class="modal-dialog" style="max-width: 650px; max-height: 300px;">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
												<H3 class="modal-title" id="modal">DAG SCHEDULER
												</H3>
													
												

											</div>
											<div class="modal-body">
												<div class="alert alert-success" id="report_success_message" style="display:none;">
						                            <strong>Success! </strong> Report has been Scheduled successfully.
						                        </div>
												<div class="alert alert-warning" id="empty_error_message" style='display:none;'>
												<strong>Error!</strong>Please Select all required fields
											</div>
								   		 <!-- content goes here -->
								    		
								    			<form>
								    			{% csrf_token %}	
								    			<div class="form-inline">
								    				<div class="col-sm-12" >
													<label for="Timezone"><strong style="font-size: 20px;">Timezone</strong></label>

													<select id="Timezone" name="Timezone" class="form-control">
													</select>
													</div>

								    				<div class="col-sm-12" >
													<label for="Schedule-interval"><strong style="font-size: 20px;">Scheduler Interval</strong></label>
													<input type="hidden" id="id"  name="id"/>
													
													<div id="schedule"></div>
												    <p>Generated cron entry: <span class="schedule-text" id="schedule-val"></span></p>
												    </div>

													

													<div class="col-sm-12" >
													<label for="Start_date"><strong style="font-size: 20px;">Start Date</strong></label>
													
													<input type="text" id="date"  data-format="YYYY-MM-DD" data-template="YYYY MM D" name="date"/>	
													</div>

												</div>
								    			</form>

								              		<input type="button" style="margin-top: 20px;" id="dag_scheduler" class="btn btn-primary" value="Schedule" >
											</div>
										</div>
								  	</div>
								</div>
							


								<div class="assigned_reports_data">
									<div class="col-md-12">
										<table id="assign-report_data" class="display" cellspacing="0" width="100%">
								        	<thead>
								            		<tr>
								            			<th>id</th>
										                <th>Username</th>
										                <th>Email</th>
										                <th>Report Name</th>
										                <th>Channel</th>
										                <th>Active</th>
										                <th>Actions</th>
										                
										                

								            		</tr>
								        	</thead>
								       		<tbody>
							       			 	{% for report in assign_reports_data %}
							            		<tr>
							            		  	<td>{{report.id}}</td>
									                <td>{{report.username}}</td>
									                <td>{{report.email}}</td>
									                <td>{{report.report_name}}</td>
									                <td>{{report.channel}}</td>
									                <td>{{report.active}}</td>
									                
									                <td>
									                	<button type="button" data-toggle="modal" class="btn btn-secondary delete_row" data-id="{{report.id}}" style="margin-right: 10px; ">Delete</button>
									                	<button type="button" data-toggle="modal" class="btn btn-secondary modify_row" data-id="{{report.id}}" data-report_name="{{ report.report_name }}" style="margin-right: 10px; ">Modify</button>
									                	<button type="button" data-target="#Scheduler-modal" data-id="{{report.id}}" data-toggle="modal" class="btn btn-secondary Schedule_button" style="margin-right: 10px; ">Schedule</button>
									                </td>
									            </tr>
									              {% endfor %}
								           	</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
{% endblock %}
