{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Connections
{% endblock %}
{% block test %}
        <div class="container-fluid1 wholeTilesMargin">
            <div class="row main_content_row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 block_cards_header bgColorUnset  layoutBorderColor ">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <span class="sprite bg-icon_calculator1"></span>
                            </div>
                            <div class="mr-5"><font class="showTotalSources">{{ showTotalSources }}</font>
                                <p>Sources</p>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/sources/">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <span class="sprite bg-icon_sim"></span>
                            </div>
                            <div class="mr-5"><font class="showTotalSources">{{ sinmemory }}</font>
                                <p>Sources In Memory</p>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/data/conversion/">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <span class="sprite bg-icon_report"></span>
                            </div>
                            <div class="mr-5"><font class="showTotalSources">{% if z %}{{z}}{% else %} 0 {% endif %}</font>
                                <p>Reports</p>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/report-creation/">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <span class="sprite bg-icon_ticket"></span>
                            </div>
                            <div class="mr-5"><font class="showTotalSources"></font>
                                <p>Assign Reports</p>
                            </div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/assign_reports/">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                      </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
{% block pagecontent %}

<!-- Create New Report Modal -->
<div class="modal fade" id="sourceUploadModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:900px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="createreportmodal">Create Connection Data</h3>
            </div>
           	<div class="modal-body">

                <div class="tabbable"> 
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">

                        <li class="nav-item"><a class="nav-link active" href="#connection"  data-toggle="tab">Connection</a>

                       
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <!-- Connection tab form in create report modal -->
                    	<div  class="tab-pane active" id="connection">
                        
	                        <div class="alert alert-success" id="success_message" style="display:none;">
	                            <strong>Success!</strong> Connection has been successfully Created.
	                        </div>
	                    	<div class="alert alert-warning" id="error_message" style="display:none;">
	                        
	                    	</div>
	                    
	                    	<div class="alert alert-warning" id="error_message1" style="display:none;">
	                    	</div>

                        <form id="Connection_form"> 
                        
	                            <div class="form-group"> 
	                                
	                                 <label for="data_source name" class="col-sm-4 col-form-label">Data Source name</label>
	                                <div class="col-sm-8">
	                                <input type="text" class="form-control" name="datasourcename" id="datasourcename" />
	                                </div>
	                            </div>

	                            <div class="form-group"> 
	                                
	                                 <label for="connection_name" class="col-sm-4 col-form-label">Connection name</label>
	                                <div class="col-sm-8">
	                                <input type="text" class="form-control" name="connectionname" id="connectionname" />
	                                </div>
	                            </div>

	                            <div class="form-group" >
	                                <label for=ip class="col-sm-4 col-form-label">IP Address</label>
	                                <div class="col-sm-8">
	                                    <input type="text" id="ip" class="form-control" placeholder="IP Address" name="ip"/>
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label for="port" class="col-sm-4 col-form-label">Port</label>
	                                <div class="col-sm-8">
	                            <input type="text" min="2" max="4" class="form-control" id="port" placeholder="Port" name="port"/>
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label for="is_secure" class="col-sm-4 col-form-label">Is Secure</label>
	                                <div class="col-sm-8">
	                                    <label class="checkbox-inline">True</label>
	                                    <input type="checkbox" class="checkbox_button" value="true" name="issecure" />
	                                    <label class="checkbox-inline">False</label>
	                                    <input type="checkbox" class="checkbox_button" value="false" name="issecure" />
	                                </div>
	                            </div>
	                        
	                            <div class="form-group">
	                                <label for="query_endpoint" class="col-sm-4 col-form-label">Query EndPoint</label>
	                                <div class="col-sm-8">
	                                    <input type="text" class="form-control" id="query_endpoint" placeholder="Query EndPoint" name="query_endpoint"/>
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label for="auth_endpoint" class="col-sm-4 col-form-label">Auth EndPoint</label>
	                                <div class="col-sm-8">
	                                    <input type="text" class="form-control" id="auth_endpoint" placeholder="Auth EndPoint" name="auth_endpoint"/>
	                                </div>
	                            </div>
	                            <div class="form-group">
	                                <label for="username" class="col-sm-4 col-form-label">Username</label>
	                                <div class="col-sm-8">
	                                    <input class="form-control" id="username" name="username" placeholder="Username" />
	                                </div>
	                            </div>

	                            <div class="form-group">
	                                <label for="Password" class="col-sm-4 col-form-label">Password </label>
	                                <div class="col-sm-8">
	                                    <input class="form-control" id="password"  name="password" placeholder="Password" type="password" />
	                                </div>
	                            </div>
	                       
	                            <div style="margin-top:30px;">
	                                <input type="button" id="Create_con" class="btn btn-primary" value="Create"/>
	                                
                         		</div>
                        </form>
                    	</div>
                	</div>
                </div>
			</div>
		</div>
	</div>
</div>


<!-- modify Button Modal	 -->
			
<div class="modal fade" id="Modify_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:900px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="Modify_modal">Edit Connection Data</h3>
            </div>
            <div class="modal-body">

            	<div class="tabbable"> 
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">

                        <li class="nav-item"><a class="nav-link active" href="#connection"  data-toggle="tab">Connection</a>

                        </li>
                       
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <!-- Connection tab form in create report modal -->
                    	<div  class="tab-pane active" id="connection">
                        
	                        <div class="alert alert-warning" id="error_message_empty" style="display:none;">
                                <strong>Error!</strong>Please fill empty fields
                            </div>
	                        <div class="alert alert-warning" id="err_message" style="display:none;">
                                
                            </div>
                        	<form id="Connection_form_modify"> 
                        		<input type="hidden" id="edit_id">
               
                        	<div class="form-group"> 
                                 
                                 <label for="data_source name" class="col-sm-4 col-form-label">Data Source name</label>
                                <div class="col-sm-8">
                                <input type="text" class="form-control" name="datasource_name" id="edit_datasource_name" />
                                </div>
                            </div>

                            <div class="form-group"> 
                                
                                 <label for="connection_name" class="col-sm-4 col-form-label">Connection name</label>
                                <div class="col-sm-8">
                                <input type="text" class="form-control" name="connection_name" id="edit_connection_name" />
                                </div>
                            </div>

                        	<div class="form-group">
                                <label for=ip class="col-sm-4 col-form-label">IP Address</label>
                                <div class="col-sm-8">
                                    <input type="text" id="edit_ipaddress" class="form-control" placeholder="IP Address" name="ip"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="port" class="col-sm-4 col-form-label">Port</label>
                                <div class="col-sm-8">
                            	<input type="text" min="2" max="4" class="form-control" id="edit_port" placeholder="Port" name="port"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="is_secure" class="col-sm-4 col-form-label">Is Secure</label>
                                <div class="col-sm-8">
                                    <label class="checkbox-inline">True</label>
                                    <input type="checkbox" class="checkbox_button" name="issecure" id='edit_issecure' value="True" />
                                    <label class="checkbox-inline">False</label>
                                    <input type="checkbox" class="checkbox_button" name="issecure" id='edit_issecure1' value="False" />
                                </div>
                            </div>
                        
                            <div class="form-group">
                                <label for="query_endpoint" class="col-sm-4 col-form-label">Query EndPoint</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="edit_query_endpoint" placeholder="Query EndPoint" name="query_endpoint"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="auth_endpoint" class="col-sm-4 col-form-label">Auth EndPoint</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="edit_auth_endpoint" placeholder="Auth EndPoint" name="auth_endpoint"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username" class="col-sm-4 col-form-label">Username</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="edit_username" name="username" placeholder="Username" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Password" class="col-sm-4 col-form-label">Password </label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="edit_password"  name="password" placeholder="Password" />
                                </div>
                            </div>
                           
                            <div style="margin-top:30px;">
                                <input type="button" id="Save_changes" class="btn btn-primary" value="Save Changes"/>
                                
                        	</div>
                        	</form>
                    	</div>

					</div>
 				</div>
			</div>
		</div>
	</div>
</div>

 <div class="container-fluid main_content_container">
     <div class="alert alert-success" id="successmessage" style='display:none;'>
                    <strong>Success!</strong>Report has been Assigned successfully
        </div>
    <div class="row main_content_row">   
        <div class="activity_feed_table col">
            <div style="margin-bottom:40px;">
              <h4>Connections 
              <button class="btn commonButtonColor pull-right" data-toggle="modal" data-target="#sourceUploadModal" type="button"><i class="fa fa-plus" style="margin-right: 8px;" aria-hidden="true"></i>Create Connection Data</button>                
              </h4>
            </div>
            <table class="row-border table-responsive compact" id="assign-report_data" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>IP Address</th>
                        <th>Port</th>
                        <th>Is Secure</th>
                        <th>Query EndPoint</th>
                        <th>Auth Endpoint</th>
                       <th>Data Source Name</th>
                        <th>Connection Name</th>
                        <th>Action</th>
                    </tr>
            </thead>
                 <tbody>
                    {% for connection in connections %}
                      <tr>
                        <td>{{connection.id}}</td>
                        <td>{{connection.ip_address}}</td>
                        <td>{{connection.port}}</td>
                        <td>{{connection.is_secure}}</td>
                        <td>{{connection.query_endpoint}}</td>
                        <td>{{connection.auth_endpoint}}</td>
                        <td>{{connection.data_source_name}}</td>
                        <td>{{connection.connection_name}}</td>
                        
                        <td>
                        <button type="button"  data-toggle="modal" class="btn btn-primary delete_connection" data-id="{{connection.id}}" style="margin-right: 10px;padding-left: 17px;
    						margin-bottom: 3px; ">Delete</button>

                       <button type="button" data-toggle="modal" class="btn btn-primary modify_connection" data-id="{{connection.id}}" style="margin-right: 10px; ">Modify</button>
                        

                        
                        </td>
                      </tr>
                      {% endfor %} 
                     </tbody>
                 </table>
             </div>
         </div>
     </div>
{% endblock %}
{% block lazyload %}
<script src="{% static 'js/conversion.controller.js' %}"></script>
{% endblock %}