{% extends 'base.html' %} {% load staticfiles %} {% block title %} PYSQL Execution {% endblock %}{% block test %}{% endblock %} {% block pagecontent %}
  
<div class="container-fluid main_content_container" style="margin-top:16px;">
    <div class="row main_content_row">
        <div class="activity_feed_table col" style="margin-right: -4px;     bottom: -5px;
    margin-top: 74px;">
            <div id="code_visualization" class="split content">
                <div id="pysql_visualization" class="split split-horizontal">
                    <nav class="nav nav-tabs nav-first-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#python" role="tab"><b>Python</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#sql" role="tab"><b>SQL</b></a>
                        </li>
                        <li style="padding-left: 40%;">
                            <button type="submit" class="btn btn_pysql_block_tab execution_button_fa" id="play_btn">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </button>
                        </li>                        
                        
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="python" role="tabpanel" aria-labelledby="nav-home-tab">
                            <form id="python_execution_form">
                                {% csrf_token %}
                                <textarea  id="python_textarea" name="python_textarea" rows="7"></textarea>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="sql" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <form id="sql_execution_form">
                                {% csrf_token %}
                                <textarea  id="sql_textarea" name="sql_textarea" rows="7"></textarea>
                            </form>
                        </div>
                    </div>                    
                </div>
                <div id="chart_visualization" class="split split-horizontal">
                    <ul class="nav nav-tabs" role="tablist" id="block_chart_ul">
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#column_chart" role="tab" id="link_column_chart"><img src="{% static '/images/icon_vertical_bar_chart.png' %}" class="chartIconSize img-responsive">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#bar_chart" role="tab" id="link_bar_chart"><img src="{% static '/images/icon_horizontal_bar_chart.png' %}" class="chartIconSize img-responsive">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#pie_chart" role="tab" id="link_pie_chart"><img src="{% static '/images/icon_pie_chart.png' %}" class="chartIconSize img-responsive">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#line_chart" role="tab" id="link_line_chart"><img src="{% static '/images/icon_line_chart.png' %}" class="chartIconSize img-responsive">
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="chart_block_content_div">
                        <!-- Vertical Bar/Column Chart Div-->
                        <div class="tab-pane" id="column_chart" role="tabpanel">
                            <div id="column_chart_svg"></div>
                        </div>
                        <!-- Horizontal Bar Chart Div-->
                        <div class="tab-pane" id="bar_chart" role="tabpanel">
                           
                            <div id="bar_chart_svg"></div>
                        </div>
                        <!-- Pie Chart Div-->
                        <div class="tab-pane" id="pie_chart" role="tabpanel">
                            <div id="pie_chart_svg"></div>     
                        </div>
                        <!-- Line Chart Div-->
                        <div class="tab-pane" id="line_chart" role="tabpanel">
                           <div id="line_chart_svg"></div>
                       </div>
                    </div>    
                </div>
            </div>    
            <div id="output_visualization" class="split content">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#execution_op" role="tab" id="link_exec_op"><b>Execution Output</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#table_op" role="tab" id="link_table_result"><b>Results in a Table</b></a>
                    </li>
                </ul>
                <div class="tab-content pythonTabContent">
                    <div class="tab-pane active" id="execution_op" role="tabpanel">
                        <textarea id="python_output"></textarea>
                    </div>
                     <div class="tab-pane" id="table_op">
                        <div id="sql_output_div_ajax">
                        </div>
                        <form id="sql_execution_op_form">
                        <label for="sql_textarea">SQL Output</label>
                            <textarea id="sql_output" rows="8"></textarea>
                        </form>    
                     </div>
                </div>      
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block lazyload %}
<script>
 /* Horizontal split */
Split(['#pysql_visualization', '#chart_visualization'], {
    gutterSize: 5,
    sizes: [40, 60],
    cursor: 'col-resize',
})

/* Vertical split */
Split(['#code_visualization', '#output_visualization'], {
    direction: 'vertical',
    sizes: [50, 50],
    gutterSize: 5,
    cursor: 'row-resize',
    minSize:[280, 274]
})
</script>
{% endblock %}