{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Report Line Items
{% endblock %}
{% block test %}
<div class="container-fluid1 wholeTilesMargin">
    <div class="row main_content_row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100 block_cards_header bgColorUnset  layoutBorderColor ">
                <div class="card-body">
                    <div class="card-body-icon">
                        <span class="sprite bg-icon_calculator1"></span>
                    </div>
                    <div class="mr-5"><font class="showTotalSources">{{ showTotalSources }}</font>
                        <p>Sources</p>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/sources/">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                <div class="card-body">
                    <div class="card-body-icon">
                        <span class="sprite bg-icon_sim"></span>
                    </div>
                    <div class="mr-5"><font class="showTotalSources">{{ sinmemory }}</font>
                        <p>Sources In Memory</p>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/data/conversion/">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                <div class="card-body">
                    <div class="card-body-icon">
                        <span class="sprite bg-icon_report"></span>
                    </div>
                    <div class="mr-5"><font class="showTotalSources">{% if z %}{{z}}{% else %} 0 {% endif %}</font>
                        <p>Reports</p>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/report-creation/">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                <div class="card-body">
                    <div class="card-body-icon">
                        <span class="sprite bg-icon_ticket"></span>
                    </div>
                    <div class="mr-5"><font class="showTotalSources"></font>
                        <p>Assign Reports</p>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/assign_reports/">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block pagecontent %}
<div class="container-fluid main_content_container">
    <div class="row main_content_row">
        <div class="activity_feed_table col">
            <div style="margin-bottom:40px;">
                <h4>Report Line Items 
                    <button class="btn commonButtonColor pull-right" data-toggle="modal" data-target="#createLineItemModal" type="button"><i class="fa fa-plus" style="margin-right: 8px;" aria-hidden="true"></i>Create Report Line Item
                    </button>                
                </h4>
                <table class="row-border table-responsive compact" id="report_lineitem_dt" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Report Name</th>
                            <th>Query Name</th>
                            <th>Fields</th>
                            <th>Group By</th>
                            <th>Order By</th>
                            <th>Where</th>
                            <th>Limit</th>
                            <th>Table</th>
                            <th>Viz Type</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in report_items %}
                        <tr>
                            <td>{{ obj.id }}</td>
                            <td>{{ obj.report.report_name }}</td>
                            <td>{{ obj.query_name }}</td>
                            <td>{{ obj.fields }}</td>
                            <td>{{ obj.group_by }}</td>
                            <td>{{ obj.order_by }}</td>
                            <td>{{ obj.where }}</td>
                            <td>{{ obj.limit }}</td>
                            <td>{{ obj.table }}</td>
                            <td>{{ obj.viz_type }}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm btn_edit_report_item" data-toggle="modal" data-target="#editLineItemModal" data-report_item_id="{{ obj.id }}" data-report_name = "{{ obj.report.report_name }}">Edit</button>
                                <button type="button" class="btn btn-danger btn-sm btn_delete_report_item" data-report_item_id="{{ obj.id }}">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>    
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Create report line item modal -->
<div class="modal fade" id="createLineItemModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:900px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title">Create Report Line Item</h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" id="report_error" style="display:none;">
                    <strong>Error! </strong> First create report then report line item.
                </div>
                <div class="alert alert-success" id="createLineItemSuccess" style="display:none;">
                    <strong>Success! </strong> Report line items created successfully.
                </div>

                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#reportLineItem"  data-toggle="tab">Report Line Item</a>
                    </ul>
                    <div class="tab-content">
                        <div  class="tab-pane active" id="reportLineItem">
                            <form id="create_report_item_form">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="report name">Report Name</label>
                                        <select class="form-control" name="create_select_report" id="create_select_report">
                                            {% for report in reports %}
                                            <option value="{{ report.id }}">{{ report.report_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="query name">Query Name<span style="color:red;">*</span></label>
                                        <input type="text" class="form-control" id="create_report_queryname" name="create_report_queryname" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="fields name">Fields<span style="color:red;">*</span></label>
                                        <input type="text" class="form-control" id="create_report_fields" name="create_report_fields" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="group_by">Group by<span style="color:red;">*</span></label>
                                        <input type="text" class="form-control" id="create_group_by" name="create_group_by" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="order_by">Order by</label>
                                        <input type="text" class="form-control" id="create_order_by" name="create_order_by">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="where">Where</label>
                                        <input type="text" class="form-control" id="create_where" name="create_where">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="limit">Limit<span style="color:red;">*</span></label>
                                        <input type="text" class="form-control" id="create_limit" name="create_limit" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="table">Table<span style="color:red;">*</span></label>
                                        <input type="text" class="form-control" id="create_table_name" name="create_table_name" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="viz_type">Visualization</label>
                                        <select class="form-control" name="create_select_viztype" id="create_select_viztype">
                                            {% for k,v in viz_type_choice %}
                                            <option value="{{ k }}">{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="text-muted"><em><span style="color:red;">*</span> Indicates required field</em></span>
                                </div> 
                                <div  style="text-align:center;margin-top:20px;">
                                    <input type="submit" id="btn_createreportitem" class="btn btn-primary" value="Save"/>
                                </div>
                            </form>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Edit report line item modal -->
<div class="modal fade" id="editLineItemModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:900px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title">Edit Report Line Item</h3>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" id="edit_report_items_success" style="display:none;">
                    <strong>Success!</strong> Report Line Item has been successfully updated.
                </div>
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#reportLineItem"  data-toggle="tab">Report Line Item</a>
                    </ul>
                    <div class="tab-content">
                        <div  class="tab-pane active" id="reportLineItem">
                            <form id="edit_report_item_form">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="report name">Report Name</label>
                                        <select class="form-control" name="edit_select_report" id="edit_select_report">
                                            {% for report in reports %}
                                            <option value="{{ report.id }}">{{ report.report_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="query name">Query Name<span style="color:red;">*</span></label>
                                        <input type="text" class="form-control" id="edit_report_queryname" name="edit_report_queryname" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="fields name">Fields<span style="color:red;">*</span></label>
                                        <input type="text" class="form-control" id="edit_report_fields" name="edit_report_fields" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="group_by">Group by<span style="color:red;">*</span></label>
                                        <input type="text" class="form-control" id="edit_group_by" name="edit_group_by" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="order_by">Order by</label>
                                        <input type="text" class="form-control" id="edit_order_by" name="edit_order_by">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="where">Where</label>
                                        <input type="text" class="form-control" id="edit_where" name="edit_where">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="limit">Limit<span style="color:red;">*</span></label>
                                        <input type="text" class="form-control" id="edit_limit" name="edit_limit" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="table">Table<span style="color:red;">*</span></label>
                                        <input type="text" class="form-control" id="edit_table_name" name="edit_table_name" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="viz_type">Visualization</label>
                                        <select class="form-control" name="edit_select_viztype" id="edit_select_viztype">
                                            {% for k,v in viz_type_choice %}
                                            <option value="{{ k }}">{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="text-muted"><em><span style="color:red;">*</span> Indicates required field</em></span>
                                </div> 
                                <div  style="text-align:center;margin-top:20px;">
                                    <input type="submit" id="btn_updatereportitem" class="btn btn-primary" value="Save"/>
                                </div>
                            </form>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}