{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Reports
{% endblock %}
{% block test %}
<div class="container-fluid1 wholeTilesMargin">
    <div class="row main_content_row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100 block_cards_header bgColorUnset  layoutBorderColor ">
                <div class="card-body">
                    <div class="card-body-icon">
                        <span class="sprite bg-icon_calculator1"></span>
                    </div>
                    <div class="mr-5"><font class="showTotalSources">{{ showTotalSources }}</font>
                        <p>Sources</p>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/sources/">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                <div class="card-body">
                    <div class="card-body-icon">
                        <span class="sprite bg-icon_sim"></span>
                    </div>
                    <div class="mr-5"><font class="showTotalSources">{{ sinmemory }}</font>
                        <p>Sources In Memory</p>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/data/conversion/">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                <div class="card-body active">
                    <div class="card-body-icon">
                        <span class="sprite bg-icon_report"></span>
                    </div>
                    <div class="mr-5"><font class="showTotalSources">{% if z %}{{z}}{% else %} 0 {% endif %}</font>
                        <p>Reports</p>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1 active" href="/report-creation/">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100 block_cards_header layoutBorderColor">
                <div class="card-body">
                    <div class="card-body-icon">
                        <span class="sprite bg-icon_ticket"></span>
                    </div>
                    <div class="mr-5"><font class="showTotalSources"></font>
                        <p>Assign Reports</p>
                    </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="/assign_reports/">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
        {% endblock %}
{% block pagecontent %}

<!-- Create New Report Modal -->
<div class="modal fade" id="sourceUploadModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:900px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="createreportmodal">Create Report Data</h3>
            </div>
                <div class="modal-body">

                    <div class="tabbable"> 
                    <!-- Nav tabs -->
                        <ul class="nav nav-tabs">

                            <li class="nav-item"><a class="nav-link active" href="#connection"  data-toggle="tab">Connection</a>

                            </li>
                            <li class="nav-item" id="tab_Report"><a class="nav-link" href="#report" data-toggle="tab">Report</a>

                            </li>
                            <li class="nav-item"  id="tab_report_line_item"><a class="nav-link" href="#report_line_item" data-toggle="tab">Report Line Item</a>

                            </li>
                        </ul>
                    <!-- Tab panes -->
                <div class="tab-content">

                        <!-- Connection tab form in create report modal -->
                    <div  class="tab-pane active" id="connection">
                        
                        <div class="alert alert-success" id="success_message" style="display:none;">
                            <strong>Success!</strong> Connection has been successfully Created.
                        </div>
                        
                        
                        <div class="alert alert-warning" id="error_message" style="display:none;">
                        </div>
                        <div class="alert alert-warning" id="error_message1" style="display:none;">
                        </div>

                        <form id="Connection_form"> 
                             <div class="form-group"> 
                                
                                 <label for="data_source name" class="col-sm-4 col-form-label">Data Source name</label>
                                <div class="col-sm-8">
                                <input type="text" class="form-control" name="datasourcename" id="datasourcename" />
                                </div>
                            </div>

                             <div class="form-group"> 
                                
                                 <label for="connection_name" class="col-sm-4 col-form-label">Connection name</label>
                                <div class="col-sm-8">
                                <input type="text" class="form-control" name="connectionname" id="connectionname" />
                                </div>
                            </div>

                            <div class="form-group" >
                                <label for=ip class="col-sm-4 col-form-label">IP Address</label>
                                <div class="col-sm-8">
                                    <input type="text" id="ip" class="form-control" placeholder="IP Address" name="ip"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="port" class="col-sm-4 col-form-label">Port</label>
                                <div class="col-sm-8">
                            <input type="text" min="2" max="4" class="form-control" id="port" placeholder="Port" name="port"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="is_secure" class="col-sm-4 col-form-label">Is Secure</label>
                                <div class="col-sm-8">
                                    <label class="checkbox-inline">True</label>
                                    <input type="checkbox" class="checkbox_button" value="true" name="issecure" />
                                    <label class="checkbox-inline">False</label>
                                    <input type="checkbox" class="checkbox_button" value="false" name="issecure" />
                                </div>
                            </div>
                        
                            <div class="form-group">
                                <label for="query_endpoint" class="col-sm-4 col-form-label">Query EndPoint</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="query_endpoint" placeholder="Query EndPoint" name="query_endpoint"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="auth_endpoint" class="col-sm-4 col-form-label">Auth EndPoint</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="auth_endpoint" placeholder="Auth EndPoint" name="auth_endpoint"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username" class="col-sm-4 col-form-label">Username</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="username" name="username" placeholder="Username" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Password" class="col-sm-4 col-form-label">Password </label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="password"  name="password" placeholder="Password" type="password" />
                                </div>
                            </div>
                       
                            <div style="margin-top:30px;">
                                <input type="button" id="Create_con" class="btn btn-primary" value="Create"/>
                                
                            </div>
                        </form>
                    </div>
                    
                

                    <!-- Report tab form in create report modal -->
                    <div class="tab-pane" id="report">          

                        <div class="alert alert-success" id="report_success_message" style="display:none;">
                            <strong>Success!</strong> Report has been successfully Created.
                        </div>
                        <div class="alert alert-warning" id="error_mess" style="display:none;">
                            <strong>Error! </strong> First create connection then report.
                        </div>
                        <div class="alert alert-warning" id="error" style="display:none;">
                                <strong>Error...</strong> Report name already Exist
                        </div>
                        <!-- content goes here -->
                        <form id="report_creation_form">

                            <input type="hidden" id="connection_id">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="connection name" class="col-sm-4 col-form-label">Connection Name</label>

                                <div class="col-sm-8">
                                    <select class="form-control" name="select_connection" id="connection_name">
                                    {% for data in connections %}
                                    <option value="{{data.id}}" selected>{{data.connection_name}} </option>
                                    {% endfor %}
                                 
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="maill_body" class="col-sm-4 col-form-label">Mail Body<span style="color:red;">*</span></label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="mail_body" rows="3" name="mail_body"/ required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subject" class="col-sm-4 col-form-label">Subject <span style="color:red;">*</span></label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" id="subject" placeholder="subject" name="subject" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="report_name" class="col-sm-4 col-form-label">Report Name <span style="color:red;">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="reportname" placeholder="Report Name" name="reportname" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="text-muted"><em><span style="color:red;">*</span> Indicates required field</em></span>
                            </div> 
                            <div  style="text-align:center;margin-top:30px;">
                                <input type="submit" id="Save_data" class="btn btn-primary" value="Save"/>
                            </div>
                        </form>
                    </div>

                    <!-- Create Report Line Item modal-->
                    <div class="tab-pane" id="report_line_item">
                        <div class="alert alert-success" id="report_items_success_message" style="display:none;">
                            <strong>Success!</strong> Report Line Item has been successfully Created.
                        </div>
                        <div class="alert alert-warning" id="select_report_error" style="display:none;">
                            <strong>Error! </strong> First create report then create line item.
                        </div>
                        <!-- Form -->
                        <form id="report_line_item_form">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="report name">Report Name</label>
                                    <select class="form-control" name="select_report" id="select_report">
                                        {% for report in creation_data %}
                                        <option value="{{ report.id }}" selected>{{ report.report_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="query name">Query Name<span style="color:red;">*</span></label>
                                    <input type="text" class="form-control" id="report_query_name" name="report_query_name" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="fields name">Fields<span style="color:red;">*</span></label>
                                    <input type="text" class="form-control" id="report_fields" name="report_fields" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="group_by">Group by<span style="color:red;">*</span></label>
                                    <input type="text" class="form-control" id="group_by" name="group_by" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="order_by">Order by</label>
                                    <input type="text" class="form-control" id="order_by" name="order_by">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="where">Where</label>
                                    <input type="text" class="form-control" id="where" name="where">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="limit">Limit<span style="color:red;">*</span></label>
                                    <input type="text" class="form-control" id="limit" name="limit" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="table">Table<span style="color:red;">*</span></label>
                                    <input type="text" class="form-control" id="table_name" name="table_name" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="viz_type">Visualization</label>
                                    <select class="form-control" name="select_viztype" id="select_viz_type">
                                        {% for k,v in viz_type_choice %}
                                        <option value="{{ k }}">{{ v }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="text-muted"><em><span style="color:red;">*</span> Indicates required field</em></span>
                            </div> 
                            <div  style="text-align:center;margin-top:20px;">
                                <input type="submit" id="btn_savereportitem" class="btn btn-primary" value="Save"/>
                                <input type="submit" id="btn_savereportitem_redirect" class="btn btn-primary" value="Save & Continue"/>
                            </div>
                        </form>
                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Assign Report Model -->
<div class="modal fade" id="addassign_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">Assign New Report</h3>
            </div>

            <div class="modal-body">
                <div class="alert alert-success" id="assigned_success" style='display: none;'>
                    <strong>Success!</strong>Report is assigned successfully.
                </div>
                <div class="alert alert-warning" id="email_error_message" style='display: none;'>Invalid email address.. Please enter valid email
                </div>
                <div class="alert alert-warning" id="errormessage" style='display:none;'>
                         <strong>Error!</strong>Please fill Empty fields
                </div>
            <!-- content goes here -->
                <form id="assignreport_form">
                    {% csrf_token %}                      

                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" name="username" id="usrname" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email"/>
                    </div>               

                    <div class="form-group">
                        <label for="channel">Channel</label>
                        <input type="text" class="form-control" name="channel" id="channel" placeholder="email" disabled>
                    </div>

                    <div class="form-group">
                        <label for="condition">Condition</label>
                        <input type="text" class="form-control" name="condition" id="condition" placeholder="Condition"/>
                    </div>

                    <input  type="button" id="add" class="btn btn-primary" value='Create'/>
                </form>
            </div>          
        </div>
    </div>
</div>
        


<div class="container-fluid main_content_container">
    <div class="alert alert-success" id="successmessage" style='display:none;'>
                    <strong>Success!</strong>Report has been Assigned successfully
    </div>
    <div class="row main_content_row">   
        <div class="activity_feed_table col">
            <div style="margin-bottom:40px;">
              <h4>Reports
                  <button class="btn commonButtonColor pull-right" data-toggle="modal" data-target="#sourceUploadModal" type="button"><i class="fa fa-plus" style="margin-right: 8px;" aria-hidden="true"></i>Create a new Report</button>
              </h4>
            </div>
            <table class="row-border table-responsive compact" id="reports_datatable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Connection_name</th>
                        <th>Report name</th>
                        <th>Subject</th>
                        <th>Mail Body</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    {% for report in creation_data %}
                      <tr>
                        <td>{{report.id}}</td>
                        <td>{{report.connection_name}}</td>
                        <td>{{report.report_name}}</td>
                        <td>{{report.subject}}</td>
                        <td>{{report.mail_body}}</td>
                        <td>
                        <button type="button"  data-toggle="modal" class="btn btn-primary delete" data-id="{{report.id}}" style="margin-right: 10px; ">Delete</button>
                        <button type="button" data-target="#addassign_modal"  data-toggle="modal" data-id="{{report.id}}" data-query="{{report.query_name}}" class="btn btn-primary assignreports" style="margin-right: 10px; ">Assign Report</button>
                        </td>
                      </tr>
                      {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block lazyload %}
<script src="{% static 'js/conversion.controller.js' %}"></script>
{% endblock %}