{% extends 'base.html' %} {% load staticfiles %} {% block title %} Report Creation {% endblock %}{% block test %}{% endblock %} {% block pagecontent %}
<div class="container-fluid main_content_container" style="margin-top:16px;">
	<div class="row main_content_row">
		<div class="activity_feed_table col" style="margin-right:-4px;bottom:-5px;margin-top:74px;">
			<div id="ajax_div_assign_report_form" class="container">

			<div class="alert alert-success" id="success_message" style="display:none;">
        <strong>Success!</strong> Report has been successfully Created.
            </div>
               <div class="alert alert-warning" id="error_message" style="display:none;">
            </div>
						<div class="alert alert-warning" id="error" style="display:none;">
            		<strong>Error...</strong> Query name already Exist
            </div>

				<div class="row justify-content-center">
					<div class="col-md-7 offset-md-5">
						<form id="report_creation_form">
							{% csrf_token %}
							<div style="text-align:center;margin-bottom:20px;">
								<h3>Report Creation</h3>
							</div>
							<div class="form-group row">
								<label for="data_source name" class="col-sm-4 col-form-label">Data Source Name</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="data_src_name" placeholder="Data Source Name" name="data_src_name">
								</div>
							</div>
							<div class="form-group row">
								<label for="fields" class="col-sm-4 col-form-label">Fields</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="fields" placeholder="Fields" name="fields">
								</div>
							</div>
							<div class="form-group row">
								<label for="group_by" class="col-sm-4 col-form-label">Group By</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="group_by" placeholder="Group By" name="group_by">
								</div>
							</div>
							<div class="form-group row">
								<label for="order_by" class="col-sm-4 col-form-label">Order By</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="order_by" placeholder="Order By" name="order_by">
								</div>
							</div>
							<div class="form-group row">
								<label for="where" class="col-sm-4 col-form-label">Where</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="where" placeholder="Where" name="where">
								</div>
							</div>
							<div class="form-group row">
								<label for="limit" class="col-sm-4 col-form-label">Limit</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="limit" placeholder="Limit" name="limit">
								</div>
							</div>
							<div class="form-group row">
								<label for="maill_body" class="col-sm-4 col-form-label">Mail Body</label>
								<div class="col-sm-8">
									<textarea class="form-control" id="mail_body" rows="3" name="mail_body"></textarea>
								</div>
							</div>
							<div class="form-group row">
								<label for="query_name" class="col-sm-4 col-form-label">Query Name</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="query_name" placeholder="Query Name" name="query_name">
								</div>
							</div>
							<div  style="text-align:center;margin-top:30px;">
								<input type="button" id="Save_data" class="btn btn-primary" value="Save"/>
								<input type="button" class="btn btn-primary" id="save_countinue" value="Save & Continue"/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
