<div class="table-responsive">
	<table cellspacing="0" id="ledger" class="compact hover row-border" width="100%">
		<thead>
	    <tr>
		  {% for col in columns %}
		  <th>{{ col }}</th>
		  {% endfor %}
	    </tr>
	  </thead>
	  <tbody>
	  	{% for dict_object in data %}
	    <tr>
	      {% for k,v in dict_object.items %}      
	      <td>{{ v }}</td>
	      {% endfor %}
	    </tr>
	    {% endfor %}
	  </tbody>
	<table>
</div>
{% block lazyload %} 
<script>
$('#ledger').DataTable( {
        "scrollY": 180,
        "scrollX": true,
        responsive: true
} );
</script>
{% endblock %}	