{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>
    Flair AI Login
  </title>
    <!-- Bootstrap core CSS-->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'libraries/bootstrap/css/bootstrap.css' %}" />
    <!-- Custom fonts for this template-->
    <link href="{% static 'libraries/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="{% static 'libraries/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/custom.css' %}" />
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form action="/accounts/login/" method="post" data-ajax="false" enctype="multipart/form-data">{% csrf_token %}
          <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" id="username" type="text" aria-describedby="username" placeholder="username" name="username">
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input class="form-control" id="password" type="password" placeholder="Password" name="password">
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember Password</label>
            </div>
          </div>
          <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="submit" class="btn btn-primary">
                    Login
                </button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'libraries/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'libraries/popper/popper.min.js' %}"></script>
  <script src="{% static 'libraries/bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'libraries/jquery-easing/jquery.easing.min.js' %}"></script>
  <!-- Controllers -->
  <script src="{% static 'js/login.controller.js' %}"></script>
</body>

</html>
