/*!
 * Start Bootstrap - SB Admin v4.0.0-beta (https://startbootstrap.com/template-overviews/sb-admin)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-sb-admin/blob/master/LICENSE)
 */
html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  background-color: #EFF2F2;;
  font-family: Caviar Dreams;
}

#logo_li {
  padding: 2px 0 18px 15px;
}

.toggle-on.btn-sm {
    background-color: #0081AC;
}


#flairai_logo {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: -6px 0 0 -19px;
}

#flairai_brand_name {
  display: inline;
  font-size: 12px;
  margin-left: 2px;
}

body.sticky-footer {
  margin-bottom: 56px;
}
body.sticky-footer .content-wrapper {
  min-height: calc(100vh - 56px - 56px);
}
body.fixed-nav {
  padding-top: 56px;
}

.breadcrumb {
    padding: 11px 0 10px 67px !important;   
    list-style: none;
    background-color: #fff;
    margin-bottom: 0 !important;


}
.breadcrumb p {
  margin: 0;
}

#navbar-user-dropdown {
  background-color: #FAFAFA;
  background-image: none;
  max-height: 38px;
  padding: 0 4px 0 4px;
  border: none;
  color: #333;
}
#navbar-user-dropdown:focus, #navbar-user-dropdown.focus {
  outline: none;
  box-shadow: none;
}
#navbar-user-dropdown span {
  font-weight: bold;
  color: #747779;
}
#navbar-user-dropdown span img {
  border: 1px solid rgba(128, 128, 128, 0.53);
  border-radius: 20px;
  height: 29px;
  width: 29px;
  margin: 0 4px 0 0;
}

.navbar-search {
  padding: 0 0 0 130px;
}
.navbar-search form span button {
  background: #fafafa;
  color: rgba(193, 193, 193, 0.84);
}
.navbar-search form span button.focus, .navbar-search form span button:focus {
  outline: none;
  box-shadow: none;
  background: #fafafa;
}
.navbar-search form span input {
  border: none;
  background: #fafafa;
}

.navbar-search form span input.focus, .navbar-search form span input:focus{
  border: none;
  background: #fafafa;
}

.bg-dark {
  background-color: #FAFAFA !important;
}

.navbar-dark {
  max-height: 47px;
  margin: 0 0 0 0;
}
.navbar-dark .navbar-nav .nav-link {
  color: #333;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #333;
}

#navbarResponsive ul{
  width: 107px;
}

.navbar-sidenav li {
  text-align: -webkit-center;
  margin-bottom: 18px;
}

#exampleAccordion li.active {
  background: #F0F0F2;
  border-right: 3px solid #379DD5;
}

.navbar-sidenav li a span {
  font-size: small;
  color: #747778;
}

.block_cards_header {
  border: none;
  border-radius: 0;
  min-height: 150px
  /*width: 426px;*/
}
.block_cards_header .card-body {
  background: #FAFAFA;;
  color: #333;
}
.block_cards_header .card-footer {
  background: #FAFAFA;
}
.block_cards_header .card-footer span.float-left, .block_cards_header .card-footer span.float-right {
  color: #333;
}
.block_cards_header .card-body .card-body-icon .fa {
  color: #009DD5;
}

.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 1rem;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}
.scroll-to-top:focus {
  color: white;
}
.scroll-to-top:hover {
  color: white;
  background: #343a40;
}
.scroll-to-top i {
  font-weight: 800;
}

.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.activity_feed_table {
  background: #FAFAFA;
  padding: 10px 10px 10px 10px;
  /*border: solid 2px rgba(158, 158, 158, 0.31);*/
  border: solid 2px rgba(158, 158, 158, 0.18);
  height: 751px;
  max-width: 1762px;
  margin-right: 32px;
}

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh;
}
#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  cursor: pointer;
}
#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  float: right;
  content: '\f107';
  font-family: 'FontAwesome';
}
#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
  content: '\f105';
}
#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level, #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
  padding-left: 0;
}
#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a, #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  display: block;
  padding: 0.5em 0;
}
#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover {
  text-decoration: none;
}
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
  text-decoration: none;
}
#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
  padding-left: 1em;
}
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  padding-left: 2em;
}
#mainNav .navbar-collapse .sidenav-toggler {
  display: none;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
  position: relative;
  min-width: 45px;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  float: right;
  width: auto;
  content: '\f105';
  border: none;
  font-family: 'FontAwesome';
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
  position: absolute;
  top: 5px;
  left: 21px;
  font-size: 10px;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
  content: '\f107';
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
  overflow: hidden;
  max-width: none;
  text-overflow: ellipsis;
}
#mainNav.fixed-top .sidenav-toggler {
  display: none;
}
#mainNav.fixed-top.navbar-dark .sidenav-toggler {
  background-color: #212529;
}
#mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
  color: #adb5bd;
}
#mainNav.fixed-top.navbar-light .sidenav-toggler {
  background-color: #dee2e6;
}
#mainNav.fixed-top.navbar-light .sidenav-toggler a i {
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    width: 250px;
  }
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    padding: 1em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level, #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    padding-left: 0;
    list-style: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li, #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li {
    width: 250px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    padding: 1em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a {
    padding-left: 2.75em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    padding-left: 3.75em;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
    min-width: 0;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    width: 24px;
    text-align: center;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  #mainNav.fixed-top .navbar-sidenav {
    height: calc(114vh - 90px);
  }
  #mainNav.fixed-top .sidenav-toggler {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px);
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
    padding: 1em;
  }
}
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
  overflow-x: hidden;
  width: 55px;
}
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item, body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
  width: 55px !important;
}
body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

#mainNav.static-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.static-top .sidenav-toggler {
    display: flex;
  }
}
body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.content-wrapper {
  overflow-x: hidden;
}

@media (min-width: 992px) {
  .content-wrapper {
    margin-left: 250px;
  }
}
#sidenavToggler i {
  font-weight: 800;
}

.navbar-sidenav-tooltip.show {
  display: none;
}

@media (min-width: 992px) {
  body.sidenav-toggled .content-wrapper {
    margin-left: 90px;
    height: 950px;
  }
}
body.sidenav-toggled .navbar-sidenav {
  overflow-x: hidden;
  width: 90px;
}
body.sidenav-toggled .navbar-sidenav .nav-link-text {
  display: none;
}
body.sidenav-toggled .navbar-sidenav .nav-item, body.sidenav-toggled .navbar-sidenav .nav-link {
  width: 55px !important;
}
body.sidenav-toggled .navbar-sidenav .nav-item:after, body.sidenav-toggled .navbar-sidenav .nav-link:after {
  display: none;
}
body.sidenav-toggled .navbar-sidenav-tooltip.show {
  display: flex;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: #868e96;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: #868e96;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
  color: #adb5bd;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
  color: #868e96;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover {
  color: #adb5bd;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
  color: #adb5bd;
}
#mainNav.navbar-dark .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  color: #adb5bd;
}
#mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: rgba(0, 0, 0, 0.5);
}
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: rgba(0, 0, 0, 0.5);
}
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
  color: rgba(0, 0, 0, 0.5);
}
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover {
  color: rgba(0, 0, 0, 0.7);
}
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
  color: rgba(0, 0, 0, 0.7);
}
#mainNav.navbar-light .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #FAFAFA;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
    color: #333;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    background: #343a40;
  }
}
@media (min-width: 992px) {
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
    background: #f8f9fa;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
    color: #000 !important;
    background-color: #e9ecef;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
    color: #000;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    background: #f8f9fa;
  }
}
.card-body {
  line-height: 1em;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: 15px;
  right: 6px;
  font-size: 3rem;
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}
@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width: 1200px) {
  .card-columns {
    column-count: 2;
  }
}
.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

footer {
  margin: 0 0px 0 110px;
  background: #FAFAFA;
  min-height: 50px;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0px;
  height: 61px;
  vertical-align: middle;
  line-height: 61px;
}
footer.sticky-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 56px;
  background-color: #fff;
  line-height: 55px;
}

@media (min-width: 992px) {
  footer.sticky-footer {
    width: calc(100% - 250px);
  }
}
@media (min-width: 992px) {
  body.sidenav-toggled footer.sticky-footer {
    width: calc(100% - 0px);
    margin-left: 2px;
  }
}
.ap-content-margin {
  margin-top: 24px;
}

.ap-step {
  border-radius: 5px;
}

.ap-step-active {
  background-color: #428bca;
  color: white;
  cursor: pointer;
}

.ap-step-inactive {
  background-color: white;
  color: #428bca;
  cursor: pointer;
}

.ap-step-disabled {
  color: #999;
  background-color: white;
  cursor: not-allowed;
}
.ap-step-disabled:hover {
  color: #2a6496;
  background-color: #eee;
}

.ap-step-inactive:hover {
  color: #2a6496;
  background-color: #eee;
}

.ap-step-row {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 3px;
}

.ap-step-content {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 3px;
  margin-top: 5px;
}

.ap-step-text {
  padding: 5px;
}
.ap-step-text > p, .ap-step-text > h5 {
  margin: 0px;
}
.ap-step-text > p {
  font-size: 15px;
}

.ap-spinner-color {
  color: #007bff;
}

.toggle-handle {
  background-color: #42b3f4;
}

.btn-group-round {
  text-align: center;
  margin-bottom: -2px;
}
.btn-group-round button {
  border: 0;
  border-radius: 14px;
  width: 24px;
  height: 24px;
  text-align: center;
  margin: 0 0 0 0;
  color: #333;
  border: 1px solid rgba(128, 128, 128, 0.68);
  background: #fff;
  pointer-events: none;
}
.btn-group-round hr {
  display: inline-block;
  width: 35%;
  border-color: rgb(234, 234, 234);
  margin: 0 -4px 11px -4px;
  border-width: 2px;
}
.btn-group-round button.active {
  background-color: #2fb5d2;
  color: #fff;
  border: 0 solid;
}

/* modal CSS*/

#createreportmodal.modal-dialog .modal-content .modal-header{
  max-width: 900px;
  background: rgba(211, 211, 211, 0.19);
}


#Add_modal .modal-dialog{
  max-width: 700px;
}

#Add_modal .modal-content .modal-header{
  background-color: lightgrey;
}

/*Modify button Modal CSS */
#Modify_modal .modal-dialog{
  max-width: 700px;
}

#Modify_modal .modal-content .modal-header{
  background-color: lightgrey;
}

#Delete_modal .modal-dialog{
  max-width: 700px;
}

#Delete_modal .modal-content .modal-header{
  background-color: lightgrey;
}


#lineModalLabel{
  margin-right:0px;
}

#sourceUploadModal .modal-dialog .modal-content .modal-header {
  max-height: 11vh;
  background: rgba(211, 211, 211, 0.19);
}
#sourceUploadModal .modal-dialog .modal-content .modal-header h5 {
  font-size: medium;
  font-weight: bold;
}


#form_wizard {
  padding-left: 24px;
}

table.dataTable thead th {
  border-bottom: 0;
  padding: 10px 14px;
  font-weight: normal;
  color: #676A6C;
}
table.dataTable.no-footer {
  border-bottom: 0;
}
table.dataTable tbody td {
  padding: 6px 10px;
  color: #676a6e;
}
table.dataTable thead {
  font-family: sans-serif;
}
table.dataTable.row-border tbody tr {
  font-size: small;
}
table.dataTable.compact tbody td {
}

table.dataTable tbody tr {
    background-color: #FAFAFA;
}

.dataTables_wrapper .dataTables_filter input {
  background-color: #FAFAFA;
}

/* */
#sourcesDataTable_info {
  right: 390px;;
  position: absolute;
}

#ConversionDataTable_info {
  right: 350px;
  position: absolute;
}

#dataTable_info{

  right: 270px;
  position: absolute;

}

#sourcesDataTable_info, #ConversionDataTable_info, #dataTable_info{
  color: #676a6e;
}

.btnDropdown {
  margin-right: 40px;
}

.userImage {
  margin-right: 13px !important;
}

.pageHeading {
  font-size: 29px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #747778;
}

.pageHeadingLink {
  font-size: 13px;
  margin-top: -5px;
}

.homePageHeading {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
}

.faTransparent {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.fa-lg {
  font-size: 1.5em;
}

.commonButtonColor {
  background-color: #00a0d4;
  border-color: #00a0d4;
  color: white;
}

#dataTable {
  border-bottom: 0;
}

.homeBreadCrumb {
  padding-left: 40px;
  max-height: 85px !important;
}

.showTotalSources {
  font-size: 24px;
}

.commonLinkColor {
  color: #00a0d4;
}

.bgColorUnset {
  color: #fff !important;
}

.layoutBorderColor {
  border: solid 2px rgba(158, 158, 158, 0.31);
}

.custom_radio input[type="radio"] {
  display: none;
}
.custom_radio input[type="radio"] + label {
  z-index: 999;
  position: relative;
  display: inline-block;
  padding-left: 1.5em;
  margin-right: 2em;
  cursor: pointer;
  line-height: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.custom_radio input[type="radio"] + label:before, .custom_radio input[type="radio"] + label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  text-align: center;
  color: white;
  font-family: Times;
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.custom_radio input[type="radio"] + label:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em white;
}
.custom_radio input[type="radio"] + label:hover:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #c6c6c6;
}
.custom_radio input[type="radio"]:checked + label:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em #4CAF50;
}

.block_cards_header .card-body.active {
  background: #EFF2F2;
}
.block_cards_header .card-footer.active {
  background: #EFF2F2;
  border-top: 0;
}


.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 0.2rem;
    padding-left: 0.2rem;
}

.breadcrumb-item.active {
    color: #97989A;
}

.breadcrumb {
  background: #FAFAFA;
  position: fixed;
    z-index: 99;
    min-width: 93%;
}


.activity_feed_table div h4{
  color: #676A6C;
}

.mr-5 p{
  color: #676a6e;
  font-size: 16px;
  margin-top: 6px;
}


.main_content_row{
    margin-left: 16px;
    margin-right: 0;
    /*margin-top: 94px;*/

}

#sourceUploadModal .modal-dialog .modal-content .modal-body, #sourcedetailsModal .modal-dialog .modal-content .modal-body, #sourceConversionModal .modal-dialog .modal-content .modal-body, #createreportmodal .modal-dialog .modal-content .modal-body {
  color: #777B7C;
}


/* */

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  width: 17px;
  height: 17px;
  background: #e6e6e6;
  margin: -22px 0 0 -6px;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
  pointer-events: none;
  opacity: .6;
  background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
  position: absolute;
  display: none;
  content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
  display: block;
}





/* Radio button inner circle */
.control--radio .control__indicator:after {
  top: 6px;
  left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}

.control  span{
padding-left: 27px;
}

.control{
  margin: -2px 0 -4px 0px;
}

.imageIcon{
  width: 46px; 
  margin-right: 10px;
}


.testclass div.toggle{
  margin: 0 4px 0 0px;
}




.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
  color: #676a6e !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #676a6e !important;
}

.wholeTilesMargin{
  margin-right:32px; 
  margin-top: 93px;
}

#div-user-dropdown{
  right: 76px;
}

.main_content_container{
  max-height: 751px;
  margin-bottom: 72px;
}
label{
  margin-bottom: 0;
}
#source_analyzed_center div{
margin: 0 -13px 0 0;
}

.toggle-off.btn-sm {
    padding-left: 0px;
    font-size: small;
}

.btn_pysql_block_tab{
    margin-right: 10px;
    width: 90px;
    border: 0;
    border-radius: 0;
    background: #00a0d4;
    font-weight: bold;
    color: #fff;
}
.btn_pysql_block_tab:focus{
  box-shadow: none;
}
.pysql_execution_block_ul{
  border-bottom: 0;
}
.pysql_execution_block_card_block{
  padding: 7px 0 0 7px;
}

.pysql_execution_block_card{
  background: #FAFAFA;
  min-height: 270px;
}
.pysql_execution_block_content_tab{
 margin: 15px 0 0 0; 
}

.btn_pysql_op_block_tab{
    margin-right: 10px;
    width: 160px;
    border: 0;
    border-radius: 0;
    background: #EFCF00;
    font-weight: bold;
    color: #fff;
}

.btn_pysql_op_block_tab:focus{
  box-shadow: none;
}


#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

.tab-content .tab-pane{
  margin-top: 10px;
  height:95%;
}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #333;
    background-color: rgb(193, 193, 193);
    border-color: #ddd #ddd #fff;
}



/*Shubham Changes*/
.form-group #python_textarea, .form-group #sql_textarea {
  margin-top: -11px;
}
#python_execution_form .form-group, #sql_execution_form .form-group{
  margin-left: -15px;
}
.nav-tabs .nav-link.active{
  border-top: solid 2px #379dd5;
  background-color: unset;
}
.nav-item .nav-link{
  color: black;
}
/*#python_execution_form .form-group textarea, .activity_feed_table .nav-first-tabs, 
#sql_textarea{
  width: 450px;
  resize: none;
}*/
/*.tab-pane .form-group #python_output {
  resize: none;
  width: 1070px;
  border: none;
  border-top: solid 1px rgba(158, 158, 158, 0.31);
}*/
.execution_button_fa{
  width: unset;
    /* position: absolute; */
  right: 0px;
  border-radius: 2px;
  margin: 2px 0 0 0;
}
.outerInputResultDiv {
  padding: 16px;
  border: solid 2px rgba(158, 158, 158, 0.31);
  /* cursor: move; 
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab*/
}

.resulthr{
    margin-top: -1px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 103%;
    margin-left: -18px;
}
.col-md-7 .tab-content{
  border: 1px solid rgba(0, 0, 0, 0.1);;
  margin-top: -1px;
}
.chartIconSize{
  height: 24px;
}
.threeDivLineHorizontal{
    border: solid 1px #bcbcbc;
    width: 7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.threeDivLineVerticle{
    border: solid 1px #bcbcbc;
    height: 70px;
    display: block;
    margin-left: 4px;
    margin-bottom: auto;
    margin-top: auto;
}
.homeIconsFa{
  height: 24px;
  width: 24px;
}



/*  split js css*/
.split {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     overflow-y: auto;
     overflow-x: hidden;
 }
 
 .content {
     /*border: 1px solid #C0C0C0;*/
     box-shadow: inset 0 1px 2px #e4e4e4;
     background-color: #fff;
 }
 
 .gutter {
     background-color: transparent;
     background-repeat: no-repeat;
     background-position: 50%;
 }
 
 .gutter.gutter-horizontal {
     cursor: col-resize;
     background-image: url('../images/vertical.png');
 }
 
 .gutter.gutter-vertical {
     cursor: row-resize;
     background-image: url('../images/horizontal.png');
 }
 
 .split.split-horizontal,
 .gutter.gutter-horizontal {
     height: 100%;
     float: left;
     overflow: hidden;
 }


.axis path{
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

  .line{
    fill: none;
    stroke: blue;
    stroke-width: 1px;
  }

  .tick text{
    font-size: 12px;
  }

  
#line_chart_svg, #column_chart_svg{
  width: 100%;
  height: 100%;
  position: relative;
}



/* Creates a small triangle extender for the tooltip */
.line-chart-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.line-chart-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.dots {
  fill: orange;
}

/* D3 bar chart css */
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.nvd3 text {
  font-size: 20px;
}

.legend {
    font-size: 12px;
  }
  rect {
    stroke-width: 2;
  }


.slice path {
    stroke: #fff;
    stroke-width: 1px;
}

.textTop {
    font-family: 'Segoe UI';
    font-size: 15pt;
    fill: #333;
}

.textMiddle {
    fill: #444;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 15pt;
}

.textBottom {
    fill: #444;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 18pt;
}

.piechart_toolTip {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 10px;
    text-align: center;
}     

/*New Changes*/

#nav-tabContent{
  height: 80%;
  overflow: auto;
  padding: 10px;
}
#execution_op{
  height: 90%;
}

#python_execution_form{
  height:100%;
}
#python_execution_form textarea, #sql form textarea, #execution_op textarea, #table_op form textarea{
  width: 100%;
  height: 100%;
}
#sql{
  height: 95%;
}
#sql form, #chart_block_content_div, #column_chart, #bar_chart, #pie_chart_svg, #line_chart, #line_chart_svg{
  height: 100%;
}
#chart_visualization{
  border: 1px solid gray; 
  max-width: 800px;
  min-width: 400px;
}
#column_chart_svg{
  height: 100%;
  margin: 20px;
}
#pie_chart{
  text-align: center;
  height: 100%;
  padding: 10px;
}
#bar_chart_svg{
  height: 100%;
}
#output_visualization{
  border:1px solid gray;
}
.pythonTabContent{
  height: 80%;
  overflow: auto;
  padding: 10px;
}
#table_op form{
  display: none;
}
#pysql_visualization{
  min-width: 325px;
  max-width: 725px; 
  border: 1px solid gray;
}


/*assign_report_form CSS*/

#assign_report_form{
  padding: 20px 0;
}

#assign_report_form label{
  float: left;
}

#assign_report_form input{
  display: inline;
}
  
#report_creation_form .form-group{
  width: 48%;
  display: inline-flex;
}

#Connection_form .form-group{
  width: 48%;
  display: inline-flex;
}

#Connection_form_modify .form-group{
  width: 48%;
  display: inline-flex;
}


/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}


/* Sprite image css for icons of dashboard main contentr*/

.sprite {
        background: url('../images/css_sprites.png') no-repeat;
        margin-right: 0px;
        background-size: 245px 61px;
}



.bg-icon_calculator1 {
    width: 61px;
    height: 61px;
    display: inline-block;
    background-position: -4px -4px;
}


.bg-icon_report { 
    width: 61px;
    height: 61px;
    display: inline-block;
    background-position: -58px -6px;
}

.bg-icon_sim {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-position: -122px -4px;
}

.bg-icon_ticket {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-position: -184px -5px;
}


/* Sprite image css for icons of dashboard's left side bar*/
.sprite_dashboard_leftsidebar {
        background: url('../images/sprite_left_bar.png') no-repeat;
        background-size: 220px 54px;
}

.bg-icon_home_fa {
    width: 34px;
    height: 24px;
    display: inline-block;
    background-position: -1px -4px;
}

.bg-icon_dashboard_fa {
    width: 34px;
    height: 24px;
    display: inline-block;
    background-position: -39px -4px;
}

.bg-icon_settings_fa {
    width: 34px;
    height: 28px;
    display: inline-block;
    background-position: -77px -1px;
}

.bg-icon_admin_fa {
    width: 34px;
    height: 24px;
    display: inline-block;
    background-position: -115px -4px;
}

.bg-icon_database_fa {
    width: 34px;
    height: 24px;
    display: inline-block;
    background-position: -115px -4px;
}
